.catalog {
    display: grid;
    margin: 50px;
}

.block {
    border-radius: 15px;
    margin: 30px 5px;
    padding: 15px;
    background-color: rgba(20, 20, 20, 0.6);
    text-align: left;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    position: relative;
}

.block h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid orange;
}

.block h3 {
    padding-bottom: 50px;
}

.block button {
    border: 2px solid rgb(50, 50, 50);
    padding: 5px 10px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
}

.block button:hover {
    border: 2px solid white;
    background-color: yellow;

}

.wallpaper {
    width: 100%;
    border-bottom: solid 5px rgba(200, 100, 200, 0.2);
}

@media (max-width: 700px) {
    .catalog {
        grid-template-columns: 1fr;
        margin: 2%;
        margin-top: 5px;
    }
    .block {
        margin: 30px 0px;
    }

}

@media (min-width: 701px) and (max-width: 999px) {
    .catalog {
        grid-template-columns: 1fr 1fr;
    }


}


@media (min-width: 1000px) and (max-width: 1600px) {
    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1601px) {
    .catalog {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.icon {
    width: 15%;
    position: absolute;
    right: 20px;
    bottom: 10px;

}


.courseInfo {
    position: absolute;
    top: -200px;
    z-index: 1;
    background-color: purple;
    width: 300px;
    border: 2px solid white;
    padding: 10px;
    opacity: 0;
}


#python {
    position: relative;
    height: 50px;
}

#python:hover {
     #courseInfoPython{
        opacity: 1;
     }
}

#pygame {
    position: relative;
    height: 50px;
}

#pygame:hover {
     #courseInfoPygame{
        opacity: 1;
     }
}

#turtle {
    position: relative;
    height: 50px;
}

#turtle:hover {
     #courseInfoTurtle{
        opacity: 1;
     }
}

#webd {
    position: relative;
    height: 50px;
}

#webd:hover {
     #courseInfoWebd{
        opacity: 1;
     }
}

#math {
    position: relative;
    height: 50px;
}

#math:hover {
     #courseInfoMath{
        opacity: 1;
     }
}

#logic {
    position: relative;
    height: 50px;
}

#logic:hover {
     #courseInfoLogic{
        opacity: 1;
     }
}

#eng {
    position: relative;
    height: 50px;
}

#eng:hover {
     #courseInfoEng{
        opacity: 1;
     }
}

.gameblock {
    border-radius: 15px;
    margin: 30px 5px;
    padding: 15px;
    background-color: rgba(20, 20, 20, 0.6);
    text-align: left;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);


}

.playgame {
    border: 2px solid rgb(50, 100, 50);
    padding: 5px 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    margin-top: 50px;
    z-index: 2;
}

.playgame:hover {
    background-color: yellow;
    color: green;
    border: 2px solid white;
}