
.chatbot{
    margin: 5% 30% 10% 10%;
}

.accordion{
    margin: 5% 10% 10% 10%;
    text-align: justify;
}

.card-group{
    margin: 5% 10% 10% 10%;
}

.wrapper{
    margin: 5% 0px 0% 0%;
}

.wrapper img{
    max-width: 30%;
    margin: 0px 15px 0px 10%;
    padding: 0;
    box-sizing: border-box;
    float: left;
}

.wrapper div{
    margin: 3% 20% 5% 5%;
    vertical-align: middle;
}










.footer p{
    text-align: center;
}

.footer h5{
    text-align: center;
}

.learning {
    display: none;
}

.resources {
    display: none;
}


.mobile-greeting{
    display: block  !important;
}

.greeting{
    display: none !important;
}

.register{
    text-align: center;
    margin: 8% 0% 10% 50%;
    color: black;
}
.boto{
    display: none !important;
}
.mobile-greeting h5{
    text-align: center;
}

.accordion{
    margin: 5% 10% 10% 10%;
    text-align: justify;
}


.course{
    display: none;
}

.mobile-course{
    display: block !important;
}


.about{
    text-align: justify;
    max-width: 90%;
    margin: 5% 0% 10% 5%;


}

.about h1{
    text-align: center;
}


.profile{
    max-width: 100%;
    margin: 5% 0% 10% 0%;
}

