.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 5px orange;
    background-image: linear-gradient(rgb(50, 50, 100), rgb(30, 30, 80));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;

}

#logo img{
    height: 80px;
    margin-top: -5%;
    cursor: pointer;
}

.nav-link {
    color: white;
    font-size: 25px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav li {
     margin: 0px 40px;
}

.nav-item a:hover {
    color: orange;
}

.right {
    width: 200px;
    position: relative;
}

.right button {
    height: 40px;
    width: 180px;
    border: solid 1px white;
    background-color: rgb(50, 50, 100);
    color: white;
    border-radius: 50px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    margin: -10%;
}

.right button:hover {
    background-color: orange;
}

.reg {
        display: none;
    }

@media (max-width: 990px) {

    .me-auto {
        background: rgba(40, 40, 40);
        margin-top: 1%;
        padding: 0px 50px;
        text-align: center;

    }

    .me-auto a {
        border-bottom: solid 1px orange;

    }

    .reg {
        display: block;
    }

    .registration {
        display: none;
    }
    .navbar-toggler {
          color: $navbar-light-color;
          border-color: $navbar-light-toggler-border-color;
    }
    .navbar .navbar-toggler{
          border-color: white;
        }
}

