.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 5px rgba(40, 40, 40, 0.9);
    background-image: linear-gradient(rgb(186, 18, 194), rgb(40, 40, 40));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;

}

#logo img{
    height: 80px;
    margin-top: -5%;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px black;
}

.nav-link {
    color: white;
    font-size: 25px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav li {
     margin: 0px 40px;
}

.nav-item a:hover {
    color: yellow;
}

.right {
    width: 200px;
    position: relative;
}

.right button {
    height: 40px;
    width: 180px;
    border: solid 1px white;
    background-color: rgb(186, 18, 194);
    color: white;
    border-radius: 50px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    margin: -10%;
}

.right button:hover {
    background-color: yellow;
    color: black;
}

.reg {
        display: none;
    }

@media (max-width: 990px) {

    .me-auto {
        background: rgba(40, 40, 40);
        margin-top: 3%;
        padding: 0px 50px;
        text-align: center;
        padding-bottom: 30px;
        border-radius: 20px;

    }

    .me-auto a {
        border-bottom: solid 1px orange;

    }

    .reg {
        display: block;
    }

    .registration {
        display: none;
    }
    .navbar-toggler {
          color: $navbar-light-color;
          border-color: white;
          margin-top: -2%;
    }
    .navbar-toggler-icon {
    filter: invert(100%);
    }


}

