
.navbar-toggler {
  color: $navbar-light-color;
  border-color: $navbar-light-toggler-border-color;
}


@media (min-width: 575px) {
        .hidden-text1 {
          display: none;
        }

@media (max-width: 575px) {
        .hidden-text2 {
          display: none;
        }

@media (min-width: 766px) {
        .hidden-text3 {
          display: none;
        }
@media (max-width: 766px) {
        .hidden-text4 {
          display: none;
        }
