
.navbar-toggler {
  color: $navbar-light-color;
  border-color: $navbar-light-toggler-border-color;
}

.design{
    background: rgba(30, 30, 255, 0.4);
    width: 100%;
    padding: 10%;
}

.social-youtube{
    background: #FF0000;
    padding-bottom: 3%;
}

.social-insta{
    background: #833AB4;
    padding-bottom: 3%;

}
.social-face{
    background: #4267B2;
    padding-bottom: 3%;

}

.b{
    width: 300px;

}