body{

    background-color: #2b3034;
}
.card-body img{
    width: 100%;
}
.card button {
    height: 50px;
}

p {
    font-size: 30px;
}

.container-fluid {
    padding: 0;
}

.welcome {
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
}